body {
	font-family: Roboto;
}
.wrapper {
	width: 80%;
	margin: auto;
}
.header {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.logo {
	padding: 40px 0;
	padding-left: 44px;
	font: bold 24px/32px pt_serif,arial,helvetica,sans-serif;
}
.logo__circle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 28px;
	height: 28px;
	border-radius: 50%;
}
.logo__circle_color_dark-blue {
background: #0056EC;
}
.logo__circle_color_blue {
left: 8px;
top: 56%;
background: #C8DBFB;
opacity: .7;
}
.menu {
	display: flex;
	align-items: center;
}
.menu__item {
	position: relative;
	margin-right:26px;
	font: 500 18px/21px Roboto,arial,helvetica,sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity 1s;
}
.menu__item_active {
	position: relative;
	margin-right:26px;
	font: 500 18px/21px Roboto,arial,helvetica,sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity 1s;
}
.menu__item:after {
position: absolute;
left: 0;
display: block;
content: '';
width: 100%;
height: 3px;
background: #0056EC;
opacity: 0;
transition: opacity 1s;
}
.menu__item:hover:after {
opacity: 1;
}
.menu__item:hover {
color: green;
opacity: .5;
}
.menu__item_active:hover {
color: red;
opacity: .5;
}
.menu__item:last-child {
	margin-right: 0;
}
.menu__item_active::after {
position: absolute;	
display: block;
content: '';
width: 100%;
height: 3px;
left: 0;
background: #0056EC
}
.main {
	display: flex;
	justify-content: space-between;
	align-items: center; 
	border: dashed 1px blue;
}
}
.main-content {
	justify-content: center;
	border: dashed 1px blue;
}
.main-content__title {
	width: 567px;
	height: 255px;	
	margin: 0 0 40px 0;
	border: dashed 1px blue;
}
.main-content__description {
	border: dashed 1px blue;
	width: 455px;
	height: 52px;	
	margin: 0 0 40px 0;
}
.main-content__button {
	width: 271px;
	height: 57px;	
}
.image-content { 
	padding: 122px 0 85px 0; 
	border: dashed 1px blue;
}
.image-content__image {
	width: 770px;
	height: 653px;
	border: dashed 1px blue;
}
.footer {
	display: flex;
	justify-content: center;
	border: dashed 1px blue;
	padding: 40px 0;
	
}
.footer__point {
	width: 8px; 
	height: 8px;
	background: #C8DBFB;
	border-radius: 50%;
	padding: 0 2px;
}
